@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-gradient-start: var(--gradient-start);
  --color-gradient-middle: var(--gradient-middle);
  --color-gradient-end: var(--gradient-end);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-error: var(--error);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --gradient: linear-gradient(90deg, #b86adf 0%, #ff6c63 52%, #ffb147 100%);
  --gradient-start: #b86adf;
  --gradient-middle: #ff6c63;
  --gradient-end: #ffb147;
  --background: #fcfcfc;
  --foreground: #141313;
  --card: #ffffff;
  --card-foreground: #141313;
  --popover: #fcfcfc;
  --popover-foreground: #141313;
  --primary: #141313;
  --primary-foreground: #ffffff;
  --secondary: #ebebeb;
  --secondary-foreground: #141313;
  --muted: #f5f5f5;
  --muted-foreground: #525252;
  --accent: #ebebeb;
  --accent-foreground: #141313;
  --destructive: #e54b4f;
  --error: #c40004;
  --destructive-foreground: #ffffff;
  --border: #e4e4e4;
  --input: #ebebeb;
  --ring: #141313;
  --chart-1: #ffae04;
  --chart-2: #2d62ef;
  --chart-3: #a4a4a4;
  --chart-4: #e4e4e4;
  --chart-5: #747474;
  --sidebar: #fcfcfc;
  --sidebar-foreground: #141313;
  --sidebar-primary: #141313;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #ebebeb;
  --sidebar-accent-foreground: #141313;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #141313;
  --font-sans: var(--font-ibm-plex-sans), sans-serif;
  --font-serif: IBM Plex, serif;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --gradient: linear-gradient(90deg, #b86adf 0%, #ff6c63 52%, #ffb147 100%);
  --gradient-start: #b86adf;
  --gradient-middle: #ff6c63;
  --gradient-end: #ffb147;
  --background: #141313;
  --foreground: #ffffff;
  --card: #090909;
  --card-foreground: #ffffff;
  --popover: #121212;
  --popover-foreground: #ffffff;
  --primary: #ffffff;
  --primary-foreground: #141313;
  --secondary: #222222;
  --secondary-foreground: #ffffff;
  --muted: #1d1d1d;
  --muted-foreground: #a4a4a4;
  --accent: #333333;
  --accent-foreground: #ffffff;
  --destructive: #ff5b5b;
  --error: #c40004;
  --destructive-foreground: #141313;
  --border: #242424;
  --input: #333333;
  --ring: #a4a4a4;
  --chart-1: #ffae04;
  --chart-2: #2671f4;
  --chart-3: #747474;
  --chart-4: #525252;
  --chart-5: #e4e4e4;
  --sidebar: #121212;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #ffffff;
  --sidebar-primary-foreground: #141313;
  --sidebar-accent: #333333;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #333333;
  --sidebar-ring: #a4a4a4;
  --font-sans: var(--font-ibm-plex-sans), sans-serif;
  --font-serif: IBM Plex, serif;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    overflow-x: hidden;
  }
}
::-webkit-scrollbar-thumb {
  @apply rounded;
  background-image: linear-gradient(
    180deg,
    #b86adf 0%,
    #ff6c63 52%,
    #ffb147 100%
  );
}
::-webkit-scrollbar-track {
  @apply bg-primary/50;
}
::-webkit-scrollbar {
  @apply w-2 h-2;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::selection {
  background-color: var(--gradient-start);
  color: var(--primary);
}

.bg-gradient {
  background-image: var(--gradient);
}

/* NavBar */
.nav-link {
  position: relative;
}
.nav-link.selected {
  font-weight: bold;
}
.nav-link::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0%;
  height: 4px;
  background-image: var(--gradient);
  z-index: -1;
  transition: width 0.15s ease-in-out;
}
.nav-link.selected::after,
.nav-link:hover::after {
  width: 110%;
}

/* Accordion */

.accordion-title::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--gradient-start);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-radius: 50%;
}
@media (width < 1024px) {
  .accordion-title::before {
    width: 6px;
    height: 6px;
  }
}

/* Skills Cards */
.skill-card::before {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--background);
}
.skill-card::after {
  z-index: -1;
  height: 0%;
  bottom: -5%;
  transition: height 0.15s ease-in-out;
}
.skill-card::before,
.skill-card::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  border-radius: 16px;
}
.skill-card:hover::after {
  height: 105%;
}
